<!DOCTYPE html>
<html>
  <head>
    <title>TimeasureDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://d26b395fwzu5fz.cloudfront.net/4.3.0/keen.min.js', 'data-turbolinks-track': 'reload'%>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
