<!DOCTYPE html>
<html>
  <head>
    <title>Timeasure :: Easy method runtime measurement in Ruby</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'timeasure', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/typeit@5.5.0/dist/typeit.min.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
